h1{
    font-size: 2rem;
}
    
*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
    
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(200, 223, 236);
}
    
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 500px;
    width:900px;
    margin: 8rem 5rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
    background-color: #ffff;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.2rem;
}

.box1 h2{
    text-align: center;
    font-family: "Jost", sans-serif;
    color: rgb(30, 29, 29)
}

.box1 p{
    text-align: center;
    font-size: 1.2rem;
    width: 15rem;
    font-family: "Jost",sans-serif;
    color: rgb(125, 120, 120);
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
    background-color: rgb(218, 196, 238);
    padding: 0 3.5rem;
    border-radius: 0.5rem;
}

.qr-code{
    width: 20rem;
}